body, html {
	background-image: url('/static/images/cork-texture.jpg');
}

.top {
	background-repeat: repeat;
    padding: 10px 0px;
    margin-bottom: 30px;
    border-bottom: 2px solid #9ce2ff;
}
	.top h1 {
		color: #0087c6;
	    font-weight: 800;
	}

.year, .year select {
	display: inline-block;
	margin-right: 15px;
}

ul.options {
	display: inline-block;
	list-style: none;
	padding-left: 0px;
	margin-bottom: 20px;
}
	ul.options li {
		display: inline-block;
		padding: 8px 20px;
		background: rgba(0,0,0,0.3);
		border-radius: 2px;
		margin-bottom: 4px;
		color: white;
		cursor: pointer;
		text-decoration: none;
	}
		ul.options li:hover {
			opacity: 0.7;
		}
		ul.options li.active {
			background: #0087c6;
		}

	dd {
		margin-bottom: 25px;
	}

#results ul {
	padding-left: 0;
	position: relative;
}
	#results ul li {
		position: absolute;
		list-style: none;
		width: 128px;
		height: 165px;
		// border: 2px solid #333;
		padding: 10px;
		background: white;
		overflow: hidden;
		box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	}

	#results ul .subject {
		font-weight: 500;
		font-size: 12px;
		transition: all 150ms ease-in;
	}
		#results ul .subject:hover {
			cursor: pointer;
			color: #0087c6;
		}

#single {
	background-color: rgba(0,0,0,0.4);
	color: white;
}
