{% extends 'layout.html' %}

{% block page %}
{% include 'results.html' %}
<h1 id="number">(617) 446-5859</h1>

<input id="date" type="range" oninput="changeDate(value)" min="-7" max="0" value="0" step="1">

<ul id="events"></ul>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/placeTiles.js"></script>
{% endblock %}
